//diseño de botones
.btn {
    border-radius: 25px;
    margin-bottom: 60px;
    margin-left: 10px;
}

.paginador {
    padding: 100px;
    background-color: $platinum;
    height: 10rem;
    padding-left: 700px;
}