//colores
$colorbg: #121619;
$primary: #ffffff;
$secundary:#6c6e70;
$darkpink:#d76c69;
$lightpink:#ecbcba;
//fonts
$thin: 'Fira Sans',
sans-serif;
$regular: 'Roboto',
sans-serif;
$italic:'Playfair Display',
serif;
//font-size
$small:12px;
$medium:16px;
$large:18px;
$xlarge:30px;
$xxlarge:70px;