//estilos de main-section
.main-section {
    max-width: 100%;
}

.main-section__caja {
    margin-left: 100px;
    margin-right: 100px;
}

.main-section__parrafo2--date {
    color: $nickel;
}

span {
    color: $darkpink;
}