.nav {
    background-color: $colorbg;
    color: $primary;
    height: 15px;
}

.navbar__logo {
    width: 200px;
}

.navbar__nav {
    $primary: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
}

.nav__link {
    $primary: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.nav__link--rojo {
    color: $darkpink;
    text-decoration: none;
}